 <div class="item-edit" layout="column">
          <md-content layout-padding>
           <md-input-container class="edit_product_name">
            <label class="md-label">상품명</label>
            <input ng-model="itemList.p_title">
           </md-input-container>

           <md-input-container class="edit_product_price">
            <label class="md-label">상품가격</label>
            <input ng-model="itemList.p_price" type="number">
           </md-input-container>

           <md-input-container class="edit_product_quantity">
            <label class="md-label">상품수량</label>
            <input ng-model="itemList.p_quantity" type="number">
           </md-input-container>
          </md-content>

           <md-content layout-padding>
            <p>&nbsp;상품 이미지 (300 X 300)</p> 
            <img ng-src="{%DefalutImage%}" width="300" height="300">
            <fileupload></fileupload> 
          </md-content> 

          <md-content layout-padding>
            <p>&nbsp;상품설명</p>

            <textarea id="contents"></textarea> 
          </md-content>

          <md-content layout-padding>
            <p>&nbsp;상품표시상태</p>
            <md-radio-group ng-model="itemList.p_status">
                <md-radio-button value="y">진열함</md-radio-button>
                <md-radio-button value="n">진열안함</md-radio-button> 
            </md-radio-group>
          </md-content>

          <md-content layout-padding layout-align="center center" layout="column">
          <md-button class="md-raised md-primary" ng-click="itemUpdate()">상품수정</md-button>
        </md-content>
</div>

