<div class="detail_wrap">
 <div class="content-wrap">
  <div class="imgArea">
    <div class="bigImg"> <!-- 빅 이미지 -->
        <img ng-src="{%bImg%}">
    </div>
    <div class="smallImg"> <!-- 스몰 이미지 -->
      <ul>
        <li ng-repeat="listImg in sImg track by $index">
          <img class="sImg" ng-src="{%listImg%}"  ng-mouseenter="imgChange(listImg)">
        </li>
      </ul>
    </div>
  </div>

  <div class="contents"> <!-- 타이틀 가격 --> 
    <div class="content-option" ng-if="optionList!=''"> <!-- 옵션을 넣었을경우 새로운 틀 제공-->
      <ul ng-repeat="option in optionList track by $index" class="content-option-title">
        <li>
          <span class="contents_txt">{%option.o_field_name_txt%}</span>
          <div class="content">
            &nbsp;&nbsp; {%option.o_value%}
          </div>
        </li>
      </ul>
      <ul ng-repeat="option in selectedOption track by $index" class="content-select">
        <li>
          <span class="contents_txt">{%option.o_field_name_txt%}</span>
          <div class="content">
             <md-input-container flex>
              <md-select ng-model="user[$index].optionSelected" placeholder="옵션을 입력을하세요." ng-change="showQuantity(user[$index].optionSelected)">
                <md-option ng-repeat="state in sizeList[$index]" value="{%state%}">
                  {%state%}
                </md-option>
              </md-select>
             </md-input-container>
          </div> <!-- 사이즈만 옵션 리스트 -->
        </li>
      </ul>
      <ul class="content-btn">

        <li ng-if="optionUse!='y'" class="content-p-quantity">
               <span class="p-quantity">
                <p></p>
                <input id="quantity" type="text" ng-model="quantity" readonly="true">
                <img ng-src="../public/image/btn_up.gif" class="p_btn_up" ng-click="quantityUp(p_price)">
                <img ng-src="../public/image/btn_down.gif" class="p_btn_down" ng-click="quantityDown(p_price)">
                <span class="quantity_cal">{%p_price%}원</span>
              </span> 
        </li>

        <li ng-if="optionUse=='y'" class="content-o-quantity">
               <span class="quantity o-quantity">
                <p class="quantity_txt"></p>
                <input id="quantity" type="text" ng-model="quantity" readonly="true">
                <img ng-src="../public/image/btn_up.gif" class="btn_up" ng-click="quantityUp(o_price)">
                <img ng-src="../public/image/btn_down.gif" class="btn_down" ng-click="quantityDown(o_price)">
                <span class="quantity_cal">{%o_price%}원</span>
              </span> 
        </li>

        <li>
          <div ng-if="optionUse!='y'" class="p_totalMoney">
          <span class="contents_txt">총 상품금액: {%p_totalMoney%}원</span>
          </div>
          <div ng-if="optionUse=='y'" class="totalMoney">
          <span class="contents_txt">총 상품금액: {%o_totalMoney%}원</span>
          </div>          
        </li>


        <li class="btn-set" flex="100" layout='column'>
          <div flex="100" layout="row">
          <md-button flex="47.5" class="md-raised btn" ng-click="wishList()">관심상품</md-button>
          <span flex="5"></span>

          <md-button flex="47.5" ng-if="optionUse!='y'" class="md-raised btn" ng-click="shoppingBasket(code,title,o_price,quantity,bImg,'product')">장바구니</md-button>
          <md-button flex="47.5" ng-if="optionUse=='y'" class="md-raised btn" ng-click="shoppingBasket(code,title,o_price,quantity,bImg,'option')">장바구니</md-button>

          </div>
          <div flex="100" layout="row">
          <md-button flex class="md-raised btn-buy" ng-click="nowBuy()">구매하기</md-button>
          </div>
        </li>
      </ul>   
    </div>
  </div>
 </div>

  <div class="description" data-ng-bind-html="trustAsHtml(contents)">
  </div>

  <div layout="row" layout-align="center center">
  <md-button class="md-raised md-primary" ng-click="itemList()">상품 목록</md-button>
  </div>
</div>

 





