<div style="width:100%; height:50px; background: black; color:white; text-align: center; opacity: 0.8;">
<i class="material-icons">dashboard</i>
<span style="font-size:35px">SNECOMPANY</span>
</div>

<div class="mall_list">
	<ul class="mall_list_contents">
		<li ng-repeat="item in totalItems track by $index">
		    <a href="#/detail/{%item.p_code%}" ng-click="detail(item.p_big_img, item.p_code)" 
		    ng-mouseenter="mouseenter($event)" ng-mouseleave="mouseleave($event)" id="{%item.p_code%}"> 
		     <img ng-src="{%item.p_big_img%}" ><br>
		     <div class="list-title {%item.p_code%}">
		     	<div class="list-title-txt">
					<span>{%item.p_title%}<br></span>
					<span class="price">{%item.p_price%}</span>원
				</div>
			</div>
			</a>
		</li>	
	</ul>

	<ul id="quickArea">
		<li>
			<div class="recentlyViewList" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
						<i class="material-icons">reorder</i>
			</div>
			<div class="pocketList" layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-click="pocketList()">
						<i class="material-icons">shopping_cart</i>
			</div>
			<div class="wishList" layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-click="pocketList()">
						<i class="material-icons">star</i>
			</div>
			<ul class="quickArea-content">
				<li> 			
					<ul ng-repeat="recently in imgList track by $index">
						<li class="quickArea-content-wrap">
						 <a ng-href="#/detail/{%recently.code%}">
						 	<img ng-src="{%recently.img%}">
						 </a>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div class="pagin">
	<pagination total-items="totalItemNumber" ng-model="currentPage"
			items-per-page="itemperpage" ng-change="pageChanged()">
	</pagination>
</div>





