<md-dialog aria-label=" ">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" >
          <i class="material-icons add-dialog-second-icon">clear</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content add-dialog-content">
    		<ul>
    		<li>
    			<md-content layout layout-sm="column">
            <md-input-container>
               <h4>상품 코드</h4> 
               <span class="add-dialog-content-code">{%option.o_code%}</span>
            </md-input-container> 
          </md-content>
          <md-content layout layout-sm="column">  
	    			<md-input-container flex>
	    				<h4>상품 구분</h4>
	    				<input ng-model="option.o_field_name_txt" aria-label=" ">
	    			</md-input-container>
          </md-content>
          <md-content layout layout-sm="column">  
	    			<md-input-container flex>
	    				<h4>값</h4>
	    				<input ng-model="option.o_value" aria-label=" ">
	    			</md-input-container>
          </md-content>  
    		</li>
    		</ul>	
    	</div>
    </md-dialog-contents>

   	<md-dialog-actions layout="row" layout-align="center center" style="padding-bottom:30px;">
   		<md-button class="md-raised" ng-click="cancel()">취소
   		</md-button>
   		<md-button class="md-raised" ng-click="add()">추가
   		</md-button>
   	</md-dialog-actions>
</md-dialog>